<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>HPIS</title>
  {% load static %}
<link rel="stylesheet" href="{% static 'accounts/css/global.css' %}">
</head>
<body>
<div class="container">
    {% block content %}
    {% endblock %}
 
    {% if messages %}
<ul class="messages">
      {% for message in messages %}
<li>{{ message }}</li>
      {% endfor %}
</ul>
    {% endif %}
      <nav>
        <a href="/">Dashboard</a>
        <a href="/analytics/">Analytics</a>
        <a href="/settings/">Settings</a>
        <a href="/inventory/">Inventory</a>
        <a href="/inventory-med/">Med Inventory</a>
        <a href="/logout/">Logout</a>
      </nav>
</div>
</body>
</html>